/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
    height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

    .container {
        width: 1190px;
    }

.map-container {
    position: relative;
    width: 100%;
    height: 600px;
}

.images-container {
    width: 100%;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

.images {
    width: 100%;
}

.tooltip-caption {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.tooltip-body {

}

.tooltip-container {
    width: 200px;
}

.hexagon {
    fill: white;
    pointer-events: all;
}

.hexagon path {
    -webkit-transition: fill 250ms linear;
    transition: fill 250ms linear;
}

.hexagon:hover {
    /*fill: pink;*/
    stroke-width: 3px;
}

.hexagon .fill {
    fill: red;
}

.mesh {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
    pointer-events: none;
}

.border {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    pointer-events: none;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}